.badge {
    width: 1rem;
    height: 1rem;
    border-radius: 9999px;

    @each $name, $pair in $colors {
        $color: nth($pair, 1);

        &.is-#{$name} {
            background-color: $color;
        }
    }
}
